body {
    font-family: 'Delicious Handrawn' ;
    margin: 0;
    background-color: rgb(237, 237, 99);
}

a {
 text-decoration: none;
}

#main-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 20px;
}

#logo {
    font-size: 50px;
    font-weight: bold;
    color: brown;
    text-transform: uppercase;
}

#main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-header li {
    margin: 0 10px;
    font-weight: bold;
}

#main-header nav {
    color: blueviolet;
    font-size: 40px;
}

#main-header nav a:hover {
    color: rgb(169, 99, 204);
}

main h1 {
    text-align: center;
    color: green;
    font-size: 50px;
}

#latest-products {
    width: 80%;
    margin: 50px auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.food-items img {
    height:240px;
    width: 100%;
    object-fit: cover;
}

.food-items {
    background-color: darksalmon;
    border-radius: 6px;
    overflow: hidden;
}

.food-item-content {
    padding: 16px;
    font-size: 20px;
    text-align: center;
}

.btn {
    background-color: rgb(239, 148, 239);
    color: crimson;
    border-radius: 4px;
    padding: 8px 24px;
}

.btn:hover {
    background-color:rgb(200, 89, 148);
}